fastapi==0.111.1
uvicorn==0.30.1
pandas==2.2.2
numpy==1.26.4
python-multipart==0.0.9
openpyxl==3.1.5
matplotlib==3.9.0
reportlab==4.2.2
statsmodels==0.14.2
scipy==1.13.1
timezonefinder==6.5.2
pytz==2024.1
